In [1]:
import pandas as pd
import numpy as np

## Generate series of times

In [2]:
# Specify with start date and number of periods
# freq='M' End of month
# freq='MS' Start of month

rng = pd.date_range('2016 Jul 15 10:15', periods = 10, freq='M')

In [3]:
rng

DatetimeIndex(['2016-07-31 10:15:00', '2016-08-31 10:15:00',
               '2016-09-30 10:15:00', '2016-10-31 10:15:00',
               '2016-11-30 10:15:00', '2016-12-31 10:15:00',
               '2017-01-31 10:15:00', '2017-02-28 10:15:00',
               '2017-03-31 10:15:00', '2017-04-30 10:15:00'],
              dtype='datetime64[ns]', freq='M')

In [4]:
type(rng)

pandas.core.indexes.datetimes.DatetimeIndex

In [5]:
type(rng[0])

pandas._libs.tslibs.timestamps.Timestamp

In [6]:
# My dog needs a walk every 8h
# normalize=True same period of time
start_end = pd.date_range(start='2016 Jul 15 10:15', end='2016 Jul 25', freq='1D' , normalize=True)

In [7]:
start_end

DatetimeIndex(['2016-07-15', '2016-07-16', '2016-07-17', '2016-07-18',
               '2016-07-19', '2016-07-20', '2016-07-21', '2016-07-22',
               '2016-07-23', '2016-07-24', '2016-07-25'],
              dtype='datetime64[ns]', freq='D')

## Timestamps

In [8]:
# add increasing detail
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [9]:
pd.Timestamp('2016-07-10 10:15:15')

Timestamp('2016-07-10 10:15:15')

In [10]:
t = pd.Timestamp('2023-03-18 08:46:25')

In [11]:
t.dayofweek

5

In [12]:
t.day_name()

'Saturday'

In [13]:
t.quarter

1

### Time Offsets
**Compensação de Tempo**

In [14]:
pd.Timedelta('7 days 1us')

Timedelta('7 days 00:00:00.000001')

In [15]:
pd.Timestamp('2023-03-18 9:00') + pd.Timedelta('2 days')

Timestamp('2023-03-20 09:00:00')

In [16]:
# Month Start instead of month end
rng + pd.Timedelta('1day')

DatetimeIndex(['2016-08-01 10:15:00', '2016-09-01 10:15:00',
               '2016-10-01 10:15:00', '2016-11-01 10:15:00',
               '2016-12-01 10:15:00', '2017-01-01 10:15:00',
               '2017-02-01 10:15:00', '2017-03-01 10:15:00',
               '2017-04-01 10:15:00', '2017-05-01 10:15:00'],
              dtype='datetime64[ns]', freq=None)

In [17]:
# Without multiplying
pd.Timedelta('15ns')

Timedelta('0 days 00:00:00.000000015')

### Time spans
**Intervalos de tempo**

In [18]:
p = pd.Period('03/2023')

In [19]:
t = pd.Timestamp('03/18/2023')

In [20]:
p.start_time < t and p.end_time > t

True

In [21]:
# Round the hour
rng2 = pd.period_range('2023-03-18 09:03', freq = 'H', periods = 10)

In [22]:
rng2

PeriodIndex(['2023-03-18 09:00', '2023-03-18 10:00', '2023-03-18 11:00',
             '2023-03-18 12:00', '2023-03-18 13:00', '2023-03-18 14:00',
             '2023-03-18 15:00', '2023-03-18 16:00', '2023-03-18 17:00',
             '2023-03-18 18:00'],
            dtype='period[H]')

In [23]:
# Use Minutes 60T
rng2 = pd.period_range('2023-03-18 09:03', freq = '60T', periods = 10)

In [24]:
rng2

PeriodIndex(['2023-03-18 09:03', '2023-03-18 10:03', '2023-03-18 11:03',
             '2023-03-18 12:03', '2023-03-18 13:03', '2023-03-18 14:03',
             '2023-03-18 15:03', '2023-03-18 16:03', '2023-03-18 17:03',
             '2023-03-18 18:03'],
            dtype='period[60T]')

### Periods
One specific date during a Period of time

In [35]:
p = pd.Period('1991-05')
p

Period('1991-05', 'M')

In [36]:
p.start_time

Timestamp('1991-05-01 00:00:00')

In [37]:
p.end_time

Timestamp('1991-05-31 23:59:59.999999999')

In [38]:
t = pd.Timestamp('May 14, 1991 10:00')

In [39]:
t > p.start_time

True

In [40]:
t < p.end_time

True

In [41]:
p.start_time < t < p.end_time

True

### Index a data range

In [49]:
num_periods = 40
ts_dt = pd.Series(range(num_periods), pd.date_range('2023-03-19 11:30', freq='60T', periods = num_periods))



#### PERIOD
ts_dt = pd.Series(range(num_periods), pd.period_range('2023-03-19 11:30', freq='60T', periods = num_periods))

In [50]:
ts_dt.head()

2023-03-19 11:30:00    0
2023-03-19 12:30:00    1
2023-03-19 13:30:00    2
2023-03-19 14:30:00    3
2023-03-19 15:30:00    4
Freq: 60T, dtype: int64

In [51]:
type(ts_dt)

pandas.core.series.Series

In [52]:
type(ts_dt.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [53]:
type(ts_dt.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [54]:
ts_pd = ts_dt.to_period()

In [55]:
ts_pd

2023-03-19 11:30     0
2023-03-19 12:30     1
2023-03-19 13:30     2
2023-03-19 14:30     3
2023-03-19 15:30     4
2023-03-19 16:30     5
2023-03-19 17:30     6
2023-03-19 18:30     7
2023-03-19 19:30     8
2023-03-19 20:30     9
2023-03-19 21:30    10
2023-03-19 22:30    11
2023-03-19 23:30    12
2023-03-20 00:30    13
2023-03-20 01:30    14
2023-03-20 02:30    15
2023-03-20 03:30    16
2023-03-20 04:30    17
2023-03-20 05:30    18
2023-03-20 06:30    19
2023-03-20 07:30    20
2023-03-20 08:30    21
2023-03-20 09:30    22
2023-03-20 10:30    23
2023-03-20 11:30    24
2023-03-20 12:30    25
2023-03-20 13:30    26
2023-03-20 14:30    27
2023-03-20 15:30    28
2023-03-20 16:30    29
2023-03-20 17:30    30
2023-03-20 18:30    31
2023-03-20 19:30    32
2023-03-20 20:30    33
2023-03-20 21:30    34
2023-03-20 22:30    35
2023-03-20 23:30    36
2023-03-21 00:30    37
2023-03-21 01:30    38
2023-03-21 02:30    39
Freq: 60T, dtype: int64

In [57]:
type(ts_pd.index)

pandas.core.indexes.period.PeriodIndex

In [60]:
ts_pd.to_timestamp()

TypeError: to_timestamp() got an unexpected keyword argument 'inplace'

In [59]:
type(ts_pd.index)

pandas.core.indexes.period.PeriodIndex

In [61]:
ts_dt['2023-03-19 13']

2023-03-19 13:30:00    2
Freq: 60T, dtype: int64

In [62]:
ts_pd['2023-03-19 13']

2023-03-19 13:30    2
Freq: 60T, dtype: int64